<!DOCTYPE html>
<html>
  <head>
    <title>LernApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-left">
        <div class="header-list-icon">
          <i class="fas fa-bars"></i>
        </div>
        <div class="header-logo">
          <%= link_to "learn_app", root_path %>
        </div>
      </div>

      <div class="header-center">
        <div class="search-form">
          <%= search_form_for @p, url: lectures_search_path do |f| %>
            <%= f.label :category_name_eq, 'カテゴリーを選ぶ' %>
            <%= f.collection_select :category_name_eq, @category_name, :name, :name,  include_blank: '指定なし' %>
            <br>
            <%= f.submit '検索' %>
          <% end %>
        </div>
      </div>

      <div class="header-right">
        <div class="user-logo">
          <%# ユーザーのロゴの画像クリックでユーザーの管理機能のモーダルを表示させる %>
          <p>user</p>
        </div>
      </div>
    </header>

    <%# UI調整中 ↑ %>  
    <div>
      <%= link_to 'learn_app', root_path %>
      <% if user_signed_in? %>
        <%= link_to '動画を投稿する', new_lecture_path %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'ログイン', new_user_session_path %>
        <%= link_to '新規登録', new_user_registration_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
